.booking-cnt .bus-blk .bus-dtls .bus-layout div{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.booking-cnt .bus-blk .bus-dtls .bus-layout div > span{
    display: inline-block;
    height: 80px;
    vertical-align: top;
}
.booking-cnt .bus-blk .bus-dtls .bus-layout .bus-frnt{
    width: 20%;
}
.booking-cnt .bus-blk .bus-dtls .bus-layout .bus-back{
    width: 80%;
}
.booking-cnt .bus-blk .bus-dtls .bus-layout .bus-back .bus-seats{
    display: inline-block;
    height: 26px;
    width: 26px;
    border: 1px solid #ccc;
    margin: 4px;
}
.selected{
    background-color: green;
    opacity: 0.3;
}